@inject SignInManager<DemoWebApp.Auth.ApplicationUser> SignInManager
@inject UserManager<DemoWebApp.Auth.ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Pie" asp-action="List">Pie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> @await Component.InvokeAsync("CategoryMenu") </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-controller="PieGift" asp-action="Index">Send a pie</a></li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    @await Component.InvokeAsync("ShoppingCartSummary")
                </li>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrators"))
                {
                    @await Component.InvokeAsync("AdminMenu")
                    <li class="dropdown">
                        <a asp-controller="PieManagement"
                           asp-action="Index">Pie Management</a>
                    </li>
                }
                <li><partial name="_LoginPartial" /></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
