body {
    background-image: linear-gradient(to right, rgb(255, 0, 76), rgb(234, 0, 255));
    font-family: 'Roboto Slab', serif;
}

ul {
    display: block;
}

div {
    display: block;
}
input {
    width: 35%;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 8px;
    border-radius: 5px;
    margin-left: 30px;  
    box-sizing: border-box;
    color: blanchedalmond;
    border-bottom: 1px solid white; 
}
input:focus {
    background-color:rgba(62, 32, 68, 0.9);
    border-bottom: 2px solid red;
}

label {
    padding: 10px 8px;
    margin-left: 30px;
}
.container {
    position: relative;
}
.content{
    background:rgba(44,62,80,0.7);
    /*padding: 30px 30px;*/
    margin: 100px 150px ;
    position: relative;
    display: -webkit-flex;
    border-radius: 10px;
    filter: drop-shadow(15px 23px 0.88rem rgba(30, 46, 88,0.25));
}
form {
    color: #ffffff;
    position: relative;
}

select {
    background-color: rgba(225, 202, 247, 0.7);
    border: none;
    padding: 7px 20px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}

p {
    color: blanchedalmond;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

.content .form-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    padding: 30px 30px;
}

.form-right {
    width: 100%;
    padding: 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(243, 2, 95, 0.952);
}

.submit {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border: none;
    color: black;
}
.submit:hover {
    background-color: rgb(189, 177, 177);
    color: black;
}